/* You can add global styles to this file, and also import other style files */
button{
  font-size: 14px !important;
  margin-right: 5px!important;
  margin-bottom: 14px!important;
}

.colorizacion-containers{
  background-color: #cccccc;
  border-radius: 20px;
}
