<div class="container-fluid p-0">
  <div class="row">
    <form  [formGroup]="userCreate" (ngSubmit)="newUser()">
      <div class="text">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" name="name">
      </div>
      <div class="text">
        <label for="rol">Rol</label>
        <select class="custom-select my-1 mr-sm-2 form-control" id="rol" formControlName="rol" name="rol">
          <option value="1">ADMINISTRADOR</option>
          <option value="2">AUDITOR</option>
          <option value="3">AUXILIAR</option>
        </select>
      </div>
      <div class="text">
        <label for="name">Status</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [checked]="" formControlName="active" name="active">
        <label class="form-check-label" for="flexCheckChecked" *ngIf="userCreate.value.active">Usuario Activo</label>
        <label class="form-check-label" for="flexCheckChecked" *ngIf="!userCreate.value.active">Usuario no activo</label>
        <label class="form-check-label" for="flexCheckChecked"></label>
      </div>
      <button class="button-send btn btn-primary" type="submit" [disabled]="userCreate.invalid">Guardar</button>
    </form>
  </div>
</div>
